
@{
    ViewData["Title"] = "EsqueciMinhaSenha";
}

<h1>EsqueciMinhaSenha</h1>

<form method="POST" action="/Usuario/EsqueciMinhaSenha">
    <input type="text" name="Email" id="Email" /> <input type="submit" value="Enviar" />
</form>
