
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<form method="POST" action="/Usuario/Salvar">
    <label>Nome:</label><input type="text" name="Nome" id="Nome" />
    <label>E-mail:</label><input type="text" name="Email" id="Email" />
    <label>Senha:</label><input type="text" name="Senha" id="Senha" />
    <label>Telefone:</label><input type="text" name="Telefone" id="Telefone" />
    <label>Endereço:</label><input type="text" name="Endereco" id="Endereco" />
    <label>Niveis:</label>
    <select name="Nivel">
        @foreach (var nivel in ViewBag.Niveis)
        {
            <option value="@nivel.IdNivel">@nivel.Nome</option>
        }
    </select>

    <input type="submit" value="Salvar" />
</form>