
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<form method="POST" action="/Usuario/Login">
    <label>E-mail</label><input type="text" name="Email" id="Email" />
    <label>Senha</label><input type="text" name="Senha" id="Senha" />
    <input type="submit" value="Entrar"/>
</form>